.contact-form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  max-width: 90rem;
  margin: 0 auto;
  label {
    font-size: 2rem;
    margin-top: 3rem;
  }
  input {
    margin-top: 1rem;
    padding: 1rem 0;
    &[type="submit"] {
      margin-top: 3rem;
      color: #fff;
      background-color: #dd8682;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 1.4rem 0;
      border: none;
      transition: 0.8s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
  textarea {
    margin-top: 1rem;
    padding: 1.8rem;
  }
}
.container__contact {
  margin-bottom: 15vh;
  @media only screen and(max-width:35em) {
    margin-bottom: 10vh;
  }
}
