.sobremi {
  position: relative;
  height: 90vh;
  margin-top: 3rem;
  @media only screen and (max-width: 57em) {
    width: 100%;
  }
  &__img {
    opacity: 0.8;
    animation: imagen 2s;
    width: 70vw;
    position: absolute;
    bottom: 0;

    @media only screen and (max-width: 56em) {
      width: 100vw;
    }
    @media only screen and (max-width: 31.25em) {
      display: none;
    }
  }

  &__container {
    @media only screen and (max-width: 50em) {
      padding: 2rem;
    }
    @media only screen and (max-width: 27em) {
      padding: 1rem;
    }
    div {
      padding: 6rem;
      width: 70%;
      margin: 2rem 9rem 0 auto;
      border-radius: 2rem;
      background-color: #090a0e;
      @media only screen and (max-width: 62em) {
        margin: 2rem auto;
      }
      @media only screen and (max-width: 31.25em) {
        background-color: transparent;
        width: 95%;
        padding: 1rem 1.5rem;
      }
    }
  }
  &__descripcion {
    padding: 2rem;
    border-radius: 4;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2.1;
    &::first-letter {
      margin-left: 2rem;
      font-size: 2.4rem;
    }

    span {
      color: #fff;
      font-weight: 800;
    }
  }
}

@keyframes imagen {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes description {
  0% {
    transform: translateX(100rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
