.sobremi {
  display: grid;
  align-items: center;
  @media only screen and (max-width: 57em) {
    grid-template-columns: 100%;
  }
  &__container {
    margin-top: 1rem;
    padding: 2rem 10rem;
    @media only screen and (max-width: 50em) {
      margin-bottom: 6vh;
    }
    @media only screen and (max-width: 27em) {
      margin-top: 0;
      padding: 1rem 2rem;
      margin-bottom: 10vh;
    }
  }

  &__descripcion {
    font-size: 2rem;
    line-height: 1.8;
  }
  &__skills {
    color: #ae5152;
    font-size: 5rem;
    margin-top: 1rem;
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-content: center;
  align-items: center;

  &__box {
    display: grid;
    place-items: center;
    h5 {
      font-size: 1.7rem;
      transition: 0.5s;
      cursor: default;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__img {
    height: 10rem;
    width: 6rem;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.skills__descripcion {
  font-size: 1.5rem;
}
