.header {
  font-family: "Bebas Neue", cursive;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #272a3d;
  box-shadow: -1px -2px 3px #ffa7a3;
  @media only screen and(max-width:31.25em) {
    display: none;
  }
  &__lista {
    line-height: 4rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    list-style: none;
    text-align: left;
    display: block;
  }

  &__enlace {
    text-decoration: none;
    display: block;
    letter-spacing: 2px;
    font-size: 2.8rem;
    width: 100%;
    margin: 0 2rem;
    color: #e8e2ca;
    text-shadow: 0px 2px 0px rgba(153, 48, 48, 1);
    transition: all 0.4s ease-in-out;
    &:hover {
      color: #fff;
      transform: scale(1.2);
    }
    @media (max-width: 27em) {
      font-size: 2.4rem;
      letter-spacing: 0;
      padding: 1rem 0;
      &:hover {
        transform: translateX(0);
      }
    }
  }
}
