.portafolio {
  padding: 0rem 4rem;
  margin-bottom: 15vh;
  &__vermas {
    font-size: 2rem;
    text-align: center;
    margin: 4rem 0;
    a {
      text-decoration: none;
      font-weight: bold;
      color: #dd8682;
    }
  }
}

.portafolio-container {
  max-width: 100%;
  width: 170rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  justify-content: center;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-around;
  border-radius: 0.5rem;
  border: 1px solid rgb(201, 201, 201);
  color: #fff;
  box-shadow: 0 0 1rem rgba(#000, 0.75);
  position: relative;
  content-visibility: auto;
  &__titulo {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.5s;
    svg {
      margin-right: 0.6rem;
      width: 1.4rem;
      height: 1.4rem;
    }
    &-enlace {
      text-decoration: none;
      color: antiquewhite;
      transition: 0.5s linear;
      &:hover {
        border-bottom: 1px solid #dd8682;
      }
    }
  }
  &__descripcion {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  &__enlace {
    font-size: 1.5rem;
    border-radius: 3px;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    font-weight: bold;
    color: #dd8682;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s linear;
    border-bottom: 3px solid #dd8682;
    &:hover {
      transform: translateX(0.5rem);
      padding: 0.6rem 1rem;
      color: #fff;
      background-color: #dd8682;
      box-shadow: 0 1rem 2rem rgba(#000, 50%);
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-weight: 300;
      color: #ccc;
      font-size: 1.4rem;
    }
  }
}

.destacados {
  width: 160rem;
  max-width: 100%;
  margin: 7rem auto;
  &__titulo {
    font-size: 2.5rem;
    color: #fff;
  }
  &__container {
    margin-top: 2rem;
    display: flex;
    @media screen and (max-width: 75rem) {
      flex-direction: column;
    }
  }
  .destacados__box--git {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    background-color: #000;
    border-radius: 50%;
  }
  &__box {
    position: relative;
    width: 100%;
    margin: 1rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem rgba(#000, 0.1);
    transition: 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 1rem rgba(#000, 0.8);
    }
    &:hover &--git {
      right: 2rem;
    }

    &:hover &--description {
      left: 0rem;
      background-color: rgba(#000, 0.78);
    }
    &:hover a {
      right: 2rem;
    }
    &:hover &--img {
      filter: saturate(1.5);
    }
    &--link {
      position: absolute;
      top: 4rem;
      right: 3rem;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      position: absolute;
      color: #fff;
      font-size: 1.5rem;
      bottom: 2.2rem;
      right: -12rem;
      transition: 0.3s linear;
      @media only screen and (max-width: 32em) {
        right: 3rem;
      }
      &:hover {
        transform: translateX(1rem);
      }
    }
    &--description {
      padding: 2.5rem 4rem;
      height: 25%;
      position: absolute;
      bottom: 0;
      left: -250rem;
      right: 0;
      transition: 0.6s ease-in-out;
      @media only screen and (max-width: 32em) {
        height: 30%;
        position: relative;
        left: 0;
        background-color: rgba(#000, 0.78);
        padding: 5rem;
      }

      h1 {
        font-size: 3.5rem;
        text-align: center;
        margin: 1rem 0;
        color: #dd8682;
        font-weight: bold;
      }
      p {
        font-size: 2rem;
        text-align: center;
      }
    }
    &--img {
      transition: 0.6s ease-in-out;
      width: 100%;
      height: 100%;
    }
  }

  &__enlaces {
    transition: 0.4s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
