.portafolio {
  padding: 0rem 4rem;
  margin-bottom: 15vh;
}

.portafolio-container {
  max-width: 100%;
  width: 120rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(56rem, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  @media only screen and (max-width: 75em) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-row-gap: 3rem;
    max-width: 80%;
  }
  @media only screen and (max-width: 37.5em) {
    max-width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem 0;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid rgb(201, 201, 201);
  color: #fff;
  @media only screen and (max-width: 75em) {
    grid-template-columns: 100%;
  }
  &__titulo {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 1.7rem;
    transition: 0.5s;
    svg {
      margin-right: 0.6rem;
      width: 1.4rem;
      height: 1.4rem;
    }
    &-enlace {
      text-decoration: none;
      color: #dd8682;
    }
  }
  &__descripcion {
    font-weight: 300;
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  &__enlace {
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 1.3rem;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    transition: all 0.6s ease;
    &:hover {
      transform: translateX(0.5rem);
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0.1rem 0;
    span {
      font-weight: 300;
      font-size: 1.4rem;
    }
  }
}

.destacados {
  width: 120rem;
  max-width: 100%;
  margin: 7rem auto;

  &__titulo {
    font-size: 2.5rem;
    color: #fff;
  }
  &__container {
    margin-top: 2rem;
  }
  &__box {
    position: relative;
    width: 100%;
    margin: 2rem 0;
    height: 60rem;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem rgba(#000, 0.1);
    transition: 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 0 1rem rgba(#000, 0.8);
    }

    &:hover &--description {
      left: 0rem;
      background-color: rgba(#000, 0.78);
    }
    &:hover a {
      right: 2rem;
    }
    &:hover img {
      filter: blur(0.3rem);
    }
    a {
      text-decoration: none;
      cursor: pointer;
      position: absolute;
      color: #fff;
      font-size: 1.5rem;
      top: 1.2rem;
      right: -12rem;
      transition: 0.3s linear;
      &:hover {
        transform: translateX(1rem);
      }
    }
    &--description {
      padding: 2rem 4rem;
      height: 25%;
      position: absolute;
      bottom: 0;
      left: -250rem;
      right: 0;
      transition: 0.6s ease-in-out;
      h1 {
        font-size: 3.5rem;
        text-align: center;
        margin: 1rem 0;
        color: #dd8682;
        font-weight: bold;
      }
      p {
        font-size: 2rem;
        text-align: center;
      }
    }
    img {
      transition: 0.6s ease-in-out;
      width: 100%;
      height: 100%;
    }
  }

  &__enlaces {
    transition: 0.4s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
